/* stylesheet for messages lab */
/* Lisa Fukushima              */
/* COMP 20 - Spring 2015       */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	position: absolute;
	top: 5%;
	left: 25%;
	right: 25%;
	text-align: center;
}

#messages {
	position: absolute;
	left: 25%;
	right: 25%;
	height: 80%;
	width: 50%;
	text-align: center;
}

.id {}

.content {}

.username {
}
