/* stylesheet for messages lab */
/* Lisa Fukushima              */
/* COMP 20 - Spring 2015       */

body {
	position: absolute;
	top: 10%;
	left: 50%;
	right: 50%;
}

h1 {}

#messages {
	height: 80%;
	width: 50%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.id {}

.content {}

.username {
}
